* text=auto
*.ps1  text eol=crlf
*.psm1 text eol=crlf
*.psd1 text eol=crlf
*.bat  text eol=crlf
*.cmd  text eol=crlf
*.sh   text eol=lf
*.bash text eol=lf

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore   text eol=lf

